# PostgreSQL Admin
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# LangFlow
LANGFLOW_SUPERUSER=admin
LANGFLOW_SUPERUSER_PASSWORD=admin
LANGFLOW_SECRET_KEY=hahaha

# LLM API
LANGFLOW_OPENAI_API_KEY=sk-bebebe
LANGFLOW_OPENAI_BASE_URL=https://api.openai.com/v1

# Langfuse
LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SALT=mysalt
LANGFUSE_ENCRYPTION_KEY=0000000000000000000000000000000000000000000000000000000000000000 # generate via `openssl rand -hex 32`
CLICKHOUSE_PASSWORD=clickhouse
MINIO_ROOT_PASSWORD=miniosecret
LANGFUSE_S3_EVENT_UPLOAD_SECRET_ACCESS_KEY=miniosecret
LANGFUSE_S3_MEDIA_UPLOAD_SECRET_ACCESS_KEY=miniosecret
LANGFUSE_S3_BATCH_EXPORT_SECRET_ACCESS_KEY=miniosecret
REDIS_AUTH=myredissecret
NEXTAUTH_SECRET=mysecret

# LangFlow API
LANGFLOW_API_KEY=sk-bababa