# PostgreSQL Admin
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=langflow

# LangFlow
LANGFLOW_SUPERUSER=admin
LANGFLOW_SUPERUSER_PASSWORD=admin
LANGFLOW_SECRET_KEY=hahaha

# LLM API
LANGFLOW_OPENAI_API_KEY=sk-bebebe
LANGFLOW_OPENAI_BASE_URL=https://api.openai.com/v1

# LangFlow API
LANGFLOW_API_KEY=sk-bababa